<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MainTests">
    <test name="MainTests">
        <parameter name="CityParam" value="XMLCity"/>
        <parameter name="StateParam" value="XMLState"/>
    </test>
    <listeners>
        <listener class-name="aqa.listeners.CustomAllureListener"/>
        <listener class-name="aqa.listeners.CustomListener"/>
    </listeners>

    <test name="Wikipedia UI Tests">
        <classes>
            <class name="aqa.ui.TestSearchResultHeading"/>
            <class name="aqa.ui.TestSearch"/>
            <class name="aqa.ui.TestLinkPresent"/>
        </classes>
    </test>

    <test name="Wikipedia Api Tests">
        <classes>
            <class name="aqa.api.ExtractIntroApiTest"/>
            <class name="aqa.api.RandomArticleInfoApiTest"/>
            <class name="aqa.api.SearchArticleApiTest"/>
        </classes>
    </test>
</suite>


