<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MainTests">
    <test name="MainTests">
        <parameter name="CityParam" value="XMLCity"/>
        <parameter name="StateParam" value="XMLState"/>
        <classes> <class name="aqa.task6.Task6Test"/> </classes>
    </test>
</suite>
